<p><%= product.name %>, <%= product.description %>, $<%= product.formatted_price %>, <%= link_to "View Product",product_path(product) %></p><p><strong>-------------------------------------------------------------------------------</strong></p>
